
*.cache
*.ide-wal
*.ide-shm
*.ide
*.lock
PalmGroupRESTAPIServer/.vs/config/applicationhost.config
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/obj/Debug/PalmGroupRESTAPIServer.csproj.CoreCompileInputs.cache
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
PalmGroupRESTAPIServer/.vs/PalmGroupRESTAPIServer/v15/.suo
PalmGroupRESTAPIServer/.vs/PalmGroupRESTAPIServer/v15/.suo
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/obj/Debug/PalmGroupRESTAPIServer.csproj.CoreCompileInputs.cache
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/bin/PalmGroupRESTAPIServer.dll
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/bin/PalmGroupRESTAPIServer.pdb
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/bin/PalmGroupRESTAPIServer.dll
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/bin/PalmGroupRESTAPIServer.pdb
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/obj/Debug/PalmGroupRESTAPIServer.csproj.CoreCompileInputs.cache
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/obj/Debug/PalmGroupRESTAPIServer.csprojResolveAssemblyReference.cache
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/obj/Debug/PalmGroupRESTAPIServer.dll
PalmGroupRESTAPIServer/PalmGroupRESTAPIServer/obj/Debug/PalmGroupRESTAPIServer.pdb
